NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= 5b18d593c81090d93c1786c9015c717b85f25783eceee75be1394099e81f0cea
# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

APPLE_ID=
APPLE_TEAM_ID=
APPLE_PRIVATE_KEY=
APPLE_KEY_ID=

AUTH0_ID=
AUTH0_SECRET=
AUTH0_ISSUER=

FACEBOOK_ID=
FACEBOOK_SECRET=

GITHUB_ID=d2d51d99b014721aecc3
GITHUB_SECRET= a41cb1244287a26b10fec079cb219f87094a9383

GOOGLE_ID=
GOOGLE_SECRET=

TWITTER_ID=
TWITTER_SECRET=

EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

DATABASE_URL=sqlite://localhost/:memory:?synchronize=true
